<ion-menu side="end" contentId="main-content">
  <ion-content>
    <ion-list>
      <ion-item routerLink="/profile">Profile</ion-item>
      <ion-item routerLink="/leave-requests">Leave Requests</ion-item>
      <ion-item routerLink="/time-tracking">Time Tracking</ion-item>
      <ion-item routerLink="/payroll">Payroll</ion-item>
      <ion-item routerLink="/work-schedule">Work Schedule</ion-item>
      <ion-item routerLink="/inventory">Inventory</ion-item>
      <ion-button expand="full" routerLink="/login">Logout</ion-button>
    </ion-list>
  </ion-content>
</ion-menu>