<ion-header>
  <ion-toolbar>
    <ion-title>
      Work Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #calendar id="calendar"></div>

  <ion-item-group>
    <ion-item button (click)="toggleShiftSection()">
      <ion-label>
        <ion-icon name="caret-forward" *ngIf="!showShiftSection"></ion-icon>
        <ion-icon name="caret-down" *ngIf="showShiftSection"></ion-icon>
        Schedule Shift
      </ion-label>
    </ion-item>

    <ion-item *ngIf="showShiftSection">
      <ion-label>Shift Title</ion-label>
      <ion-input [(ngModel)]="shiftTitle"></ion-input>
    </ion-item>
    <ion-item *ngIf="showShiftSection">
      <ion-label>Shift Name</ion-label>
      <ion-input [(ngModel)]="shiftName"></ion-input>
    </ion-item>
    <ion-item *ngIf="showShiftSection">
      <ion-label>Shift Start Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="shiftStartDate"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="showShiftSection">
      <ion-label>Shift End Date</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="shiftEndDate"></ion-datetime>
    </ion-item>
    <ion-button expand="full" *ngIf="showShiftSection" (click)="createShift()">Create Shift</ion-button>
  </ion-item-group>

  <ion-item-group>
    <ion-item button (click)="toggleListSection()">
      <ion-label>
        <ion-icon name="caret-forward" *ngIf="!showListSection"></ion-icon>
        <ion-icon name="caret-down" *ngIf="showListSection"></ion-icon>
        Posted Shifts
      </ion-label>
    </ion-item>
  <ion-list *ngIf="showListSection">
    <ion-item *ngFor="let event of calendarEvents">
      <ion-label>{{ event.title }}</ion-label>
      <ion-label>{{ event.extendedProps.name }}</ion-label>
      <ion-label>{{ event.start | date: 'yyyy-MM-dd' }}</ion-label>
      <ion-label>{{ event.end | date: 'yyyy-MM-dd' }}</ion-label>
      <ion-button (click)="editShift(event)">Edit</ion-button>
      <ion-button (click)="deleteShift(event)">Delete</ion-button>
    </ion-item>
  </ion-list>
  </ion-item-group>
</ion-content>
