ion-card {
    max-width: 400px;
    margin: 0 auto;
}

ion-item {
    margin-bottom: 16px;
}

ion-button {
    margin-top: 24px;
}
ion-note {
    display: block;
}

.register-link {
    margin-top: 20px;
    text-align: center;
}