<ion-header>
  <ion-toolbar>
    <ion-title>Nowaks Portal</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <app-dropdown-menu></app-dropdown-menu>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2>Welcome to the Nowaks Portal</h2>
        <p>Here are some features available to you:</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Profile</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>View and update your personal information</p>
            <ion-button expand="full" routerLink="/profile">Go to Profile</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Leave Requests</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Submit and manage leave requests</p>
            <ion-button expand="full" routerLink="/leave-requests">Go to Leave Requests</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Time Tracking</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Track and manage your working hours</p>
            <ion-button expand="full" routerLink="/time-tracking">Go to Time Tracking</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Payroll</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Access your payroll information</p>
            <ion-button expand="full" routerLink="/payroll">Go to Payroll</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Work Schedule</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>View your work schedule</p>
            <ion-button expand="full" routerLink="/work-schedule">Go to Work Schedule</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
   
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Newsfeed</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Access your company Newsfeed</p>
            <ion-button expand="full" routerLink="/newsfeed">Go to Newsfeed</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
